$font-base: 'Helvetica Neue', Helvetica, Arial, sans-serif; // Source Sans Pro', 'Trebuchet MS', 'Calibri', Helvetica, sans-serif;


/* Pix
-------------------------------------------------- */
img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* Links
-------------------------------------------------- */
a:link,
a {
  transition: all 0.3s ease-out;
  text-decoration: underline;
  color: #222222;
}
a:visited,
a:hover,
a:focus,
a:active {
  transition: all 0.3s ease-out;
  color: red;
}
a:hover {
  transition: all 0.3s ease-out;
  // color: red;
}
a img {
  border: none;
  outline: 0;
  outline: none;
}

/* Clearfix
-------------------------------------------------- */
.cf:after {
  display: table;
  clear: both;
  content: '';
}


/* Site
-------------------------------------------------- */
html {
  font-family: $font-base;
  min-height: 100%;
  min-height: 100vh;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  font-size: 1em;
  line-height: 1.618;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  color: #222222;
  background: #ffffff;
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% auto;
  html.cssvhunit & {
    min-height: 100vh;
  }
  html.bgsizecover.cssgradients & {
    background-image: url('/assets/images/uproot-cover.jpg');
    background-repeat: repeat-y;
    background-position: fixed;
    background-size: 100% auto;
  }
}

[id='wrapper'] {
  position: relative;
  z-index: 2;
  width: 99%;
  width: calc( 100% - 4px );
  min-width: 320px;
  max-width: 64rem;
  margin: 2px auto;
  padding: 0 2rem;
  // transform: rotate(-0.5deg);
  background: linear-gradient( 10deg, #3d2d39, #77bbbc 22%, #fcfaea );
  background: linear-gradient( 10deg, rgba(#3d2d39,0.91), rgba(#77bbbc,0.91) 22%, rgba(#fcfaea,0.91) );
}


@media screen and (min-width: $break-sm) {
  body {
    padding: 0 3rem;
  }
  [id='wrapper'] {
    width: 91.1%;
    margin: 0 auto;
    html.cssvhunit & {
      overflow: hidden;
      min-height: 99vh;
    }
    // transform: rotate(-1deg);
  }

}

/* Colors
-------------------------------------------------- */
.white,
.underline {
  transition: all 0.3s ease-out;
}

.white {
  color: white;
}

a:hover .white,
a.white:hover {
  transition: all 0.3s ease-out;
  color: red;
}
a.underline:hover,
a:hover .underline {
  transition: all 0.3s ease-out;
  color: white;
}

/* Type
-------------------------------------------------- */
p,
h3,
h2 {
  // transform: rotate(-1deg);
}

.w100 {
  width: 100%;
}

.no-underline {
  text-decoration: none;
}
