/* Module: Events
------------------------------------------------- */

.events {
  ul,
  ol {
    font-size: 120%;
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 1em 0 0 0;
  }
}
